<!DOCTYPE html>
<html lang="en">
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/static/css/style.css" rel="stylesheet">
	</head>
	<body>
	
		<div id="wrapper">
			<h1>Welcome to Quoting Dojo</h1>
			<form method="POST" action="/">
				Name: <input type="text" name="name">
				Quote: <textarea name="quote" rows="5" cols="50"></textarea>
				<input type="submit" value="submit">
			</form>

		</div>
	</body>
</html>